*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "header"
        "main";
}

.header{
    background-color: #4a7ccc;
    grid-area: header;
    text-align: left;
}

.main{
    /* padding: 50px; */
    grid-area: main;
  }


.background{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #03b6b0, #457dff 70%, #457dff 70%);
    color: #fff;
    padding: 10px 8%;
    position: relative;
}
.second-background{
    position: absolute;
    top:0;
    left: 0;
    width: 28%;
    height: 100%;
    background: linear-gradient(#f1a1d0, #886ae3);
    z-index: 1;
}




/* header */
.menu ul{
    position: fixed;
    display: flex;
    margin: 10px;
    padding: 10px 5%;    
    /* align-items: flex-end; */
    z-index: 3;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
}
.menu a{    
    text-decoration: none;
    color: #fff;
    cursor: pointer;}


.profile-pic{
    width: 350px;
    position: absolute;
    left: 15%;
    top: 18%;
    z-index: 4;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}    

.text-box{
    position: relative;
    margin-top: 18%;
    max-width: 500;
    margin-right: 5%;
    float:right;
    z-index: 5;
}
.text-box h1{
    font-size: 80px;
    line-height: 90px;
    font-weight: 500;
    margin-bottom: 10px;
    
}

.text-box p{
    line-height: 30px;
    font-size: 17px;
}

.text-box button{
    
    padding: 15px 30px;
    background: #fff;
    color: #0170bb;
    border: 0;
    outline: 0;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

